
@font-face {
  font-family: 'jimo';
  src: url('jimo.eot'); /* IE9 */
  src: url('jimo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('jimo.woff') format('woff2'),
  url('jimo.woff') format('woff'), /* chrome、firefox */
  url('jimo.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('jimo.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.jimo-icon {
  font-family: "jimo";
  font-style: normal;
}
