@font-face {
	font-family: "Jimo";
	src: url("Jimo.eot?905cb6c9869eb1dc889aa04fcd4f7c6e?#iefix") format("embedded-opentype"),
url("Jimo.woff2?905cb6c9869eb1dc889aa04fcd4f7c6e") format("woff2"),
url("Jimo.woff?905cb6c9869eb1dc889aa04fcd4f7c6e") format("woff"),
url("Jimo.ttf?905cb6c9869eb1dc889aa04fcd4f7c6e") format("truetype"),
url("Jimo.svg?905cb6c9869eb1dc889aa04fcd4f7c6e#Jimo") format("svg");
}

.jimo {
	line-height: 1;
}

.jimo:before {
	font-family: Jimo !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.jimo-application:before {
	content: "\f101";
}
.jimo-apps-overview:before {
	content: "\f102";
}
.jimo-bell-o:before {
	content: "\f103";
}
.jimo-button:before {
	content: "\f104";
}
.jimo-calendar:before {
	content: "\f105";
}
.jimo-check-circle-o:before {
	content: "\f106";
}
.jimo-check-circle-outline:before {
	content: "\f107";
}
.jimo-check-circle:before {
	content: "\f108";
}
.jimo-checkbox:before {
	content: "\f109";
}
.jimo-clock:before {
	content: "\f10a";
}
.jimo-configuration-center:before {
	content: "\f10b";
}
.jimo-container:before {
	content: "\f10c";
}
.jimo-cross-embossed:before {
	content: "\f10d";
}
.jimo-data-analysis:before {
	content: "\f10e";
}
.jimo-defect-analysis:before {
	content: "\f10f";
}
.jimo-device:before {
	content: "\f110";
}
.jimo-download:before {
	content: "\f111";
}
.jimo-ellipsis-horizontal:before {
	content: "\f112";
}
.jimo-envelop-open:before {
	content: "\f113";
}
.jimo-envelop:before {
	content: "\f114";
}
.jimo-file-excel_cf:before {
	content: "\f115";
}
.jimo-file-jpg_cf:before {
	content: "\f116";
}
.jimo-file-pdf_cf:before {
	content: "\f117";
}
.jimo-file-unkown_cf:before {
	content: "\f118";
}
.jimo-file-word_cf:before {
	content: "\f119";
}
.jimo-flow-control-analysis:before {
	content: "\f11a";
}
.jimo-fork:before {
	content: "\f11b";
}
.jimo-fullscreen:before {
	content: "\f11c";
}
.jimo-gauge:before {
	content: "\f11d";
}
.jimo-incoming-inspection:before {
	content: "\f11e";
}
.jimo-info-embossed:before {
	content: "\f11f";
}
.jimo-input:before {
	content: "\f120";
}
.jimo-inspection:before {
	content: "\f121";
}
.jimo-intelligent-report:before {
	content: "\f122";
}
.jimo-inventory-management:before {
	content: "\f123";
}
.jimo-inventory:before {
	content: "\f124";
}
.jimo-ipc:before {
	content: "\f125";
}
.jimo-loading:before {
	content: "\f126";
}
.jimo-measurement-data-analysis:before {
	content: "\f127";
}
.jimo-mechanical-analysis:before {
	content: "\f128";
}
.jimo-number-input:before {
	content: "\f129";
}
.jimo-packing:before {
	content: "\f12a";
}
.jimo-plus:before {
	content: "\f12b";
}
.jimo-ppap:before {
	content: "\f12c";
}
.jimo-problem-analysis:before {
	content: "\f12d";
}
.jimo-process-events:before {
	content: "\f12e";
}
.jimo-product-information-management:before {
	content: "\f12f";
}
.jimo-product-traceability:before {
	content: "\f130";
}
.jimo-product:before {
	content: "\f131";
}
.jimo-production-management:before {
	content: "\f132";
}
.jimo-production-process:before {
	content: "\f133";
}
.jimo-purchasing-management:before {
	content: "\f134";
}
.jimo-quality-problem-tracking:before {
	content: "\f135";
}
.jimo-question-circle:before {
	content: "\f136";
}
.jimo-radio:before {
	content: "\f137";
}
.jimo-retry:before {
	content: "\f138";
}
.jimo-sales-management:before {
	content: "\f139";
}
.jimo-scan:before {
	content: "\f13a";
}
.jimo-select:before {
	content: "\f13b";
}
.jimo-serial-number:before {
	content: "\f13c";
}
.jimo-shanghai-electric:before {
	content: "\f13d";
}
.jimo-shipments-detection:before {
	content: "\f13e";
}
.jimo-slim-cross:before {
	content: "\f13f";
}
.jimo-switch:before {
	content: "\f140";
}
.jimo-table-horizontal:before {
	content: "\f141";
}
.jimo-table-vertical:before {
	content: "\f142";
}
.jimo-text-area:before {
	content: "\f143";
}
.jimo-tick-embossed:before {
	content: "\f144";
}
.jimo-tick:before {
	content: "\f145";
}
.jimo-tooling-management:before {
	content: "\f146";
}
.jimo-upload:before {
	content: "\f147";
}
.jimo-uploadbox:before {
	content: "\f148";
}
.jimo-users:before {
	content: "\f149";
}
.jimo-warehouse-in:before {
	content: "\f14a";
}
.jimo-warehouse-out:before {
	content: "\f14b";
}
.jimo-warn-circle-outline:before {
	content: "\f14c";
}
.jimo-wechat-circle:before {
	content: "\f14d";
}
.jimo-wechat:before {
	content: "\f14e";
}
.jimo-zoom-in:before {
	content: "\f14f";
}
.jimo-zoom-out:before {
	content: "\f150";
}
